absl-py==0.9.0
astor==0.8.1
certifi==2019.11.28
chardet==3.0.4
gast==0.3.3
google-pasta==0.1.8
grpcio==1.16.1
h5py==2.10.0
idna==2.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2.1
numpy==1.15.4
opencv-python==4.2.0.32
protobuf==3.11.3
requests==2.22.0
six==1.14.0
tensorboard==1.14.0
tensorflow==1.15.2
tensorflow-estimator==1.14.0
tensorflow-serving-api==1.14.0
termcolor==1.1.0
urllib3==1.24.2
Werkzeug==1.0.0
wrapt==1.11.2
